<!-- AppComponent.html -->
<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <!-- Left Column -->
    <div class="col-md-3 left-column">
      <!-- Sidebar Navigation (Left) -->
    </div>

    <!-- Central (Main) Column -->
    <div class="col-md-6">
      <router-outlet></router-outlet>
      <!-- Main Content (e.g., HomeComponent) will be displayed here -->
    </div>

    <!-- Right Column -->
    <div class="col-md-3 right-column">
      <!-- Sidebar Navigation (Right) -->
    </div>
  </div>
</div>
